<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <description>
      Urbau Security Module
    </description>
  <display-name>Urbau Security Module</display-name>
  <servlet>
    <servlet-name>UrbauConfig</servlet-name>
    <servlet-class>com.urbau.servlet.UrbauConfig</servlet-class>
    <init-param>
      <param-name>dbdriver</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>dburl</param-name>
      <param-value>jdbc:mysql://127.0.0.1/urbausec</param-value>
    </init-param>
    <init-param>
      <param-name>dbuser</param-name>
      <param-value>urbau</param-value>
    </init-param>
    <init-param>
      <param-name>dbpassword</param-name>
      <param-value>secmod</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>VerifyUser</servlet-name>
    <servlet-class>com.urbau.security.servlet.VerifyUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.urbau.security.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Users</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Users</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Bodegas</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Bodegas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Productos</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Productos</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Rols</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Rols</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Options</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Options</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>Programs</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Programs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Bancos</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Bancos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OptionsByPrograms</servlet-name>
    <servlet-class>com.urbau.servlet.entity.OptionsByPrograms</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OptionsByProgramsList</servlet-name>
    <servlet-class>com.urbau.servlet.entity.OptionsByProgramsList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FeedersList</servlet-name>
    <servlet-class>com.urbau.servlet.entity.FeedersList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Monedas</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Monedas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Paises</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Paises</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MonedasList</servlet-name>
    <servlet-class>com.urbau.servlet.entity.MonedasList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Proveedores</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Proveedores</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RenderImage</servlet-name>
    <servlet-class>com.urbau.servlet.RenderImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Inventarios</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Inventarios</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Precios</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Precios</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Clientes</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Clientes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Alias</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Alias</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>PreciosCliente</servlet-name>
    <servlet-class>com.urbau.servlet.entity.PreciosCliente</servlet-class>
  </servlet>
  <servlet> 
    <servlet-name>ProductsFiltered</servlet-name>
    <servlet-class>com.urbau.servlet.entity.ProductsFiltered</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PuntosDeVentas</servlet-name>
    <servlet-class>com.urbau.servlet.entity.PuntosDeVentas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PreciosPuntosDeVentas</servlet-name>
    <servlet-class>com.urbau.servlet.entity.PreciosPuntosDeVentas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BodegasClientes</servlet-name>
    <servlet-class>com.urbau.servlet.entity.BodegasClientes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchProducts</servlet-name>
    <servlet-class>com.urbau.servlet.entity.SearchProducts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchClients</servlet-name>
    <servlet-class>com.urbau.servlet.entity.SearchClients</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductosPorBodega</servlet-name>
    <servlet-class>com.urbau.json.service.ProductosPorBodega</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TiposDeMovimientos</servlet-name>
    <servlet-class>com.urbau.servlet.entity.TiposDeMovimientos</servlet-class>
  </servlet>     
  <servlet>
    <servlet-name>TiposDeMovimientosBanco</servlet-name>
    <servlet-class>com.urbau.servlet.entity.TiposDeMovimientosBanco</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>TiposRubros</servlet-name>
    <servlet-class>com.urbau.servlet.entity.TiposRubros</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ordenes</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Ordenes</servlet-class>
  </servlet> 
  <servlet>
    <servlet-name>Presupuestos</servlet-name>
    <servlet-class>com.urbau.servlet.entity.Presupuestos</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PresupuestosProyecciones</servlet-name>
    <servlet-class>com.urbau.servlet.entity.PresupuestosProyecciones</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>PresupuestosEjecuciones</servlet-name>
    <servlet-class>com.urbau.servlet.entity.PresupuestosEjecuciones</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>BodegasUsuarios</servlet-name>
    <servlet-class>com.urbau.servlet.entity.BodegasUsuarios</servlet-class>
  </servlet>  



  <servlet-mapping>
    <servlet-name>BodegasUsuarios</servlet-name>
    <url-pattern>/bin/BodegasUsuarios</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchProducts</servlet-name>
    <url-pattern>/bin/searchp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchClients</servlet-name>
    <url-pattern>/bin/searchc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ordenes</servlet-name>
    <url-pattern>/bin/Ordenes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UrbauConfig</servlet-name>
    <url-pattern>/config/UrbauConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyUser</servlet-name>
    <url-pattern>/bin/VerifyUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/bin/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/bin/Users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Bodegas</servlet-name>
    <url-pattern>/bin/Bodegas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Productos</servlet-name>
    <url-pattern>/bin/Productos</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Rols</servlet-name>
    <url-pattern>/bin/Rols</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Options</servlet-name>
    <url-pattern>/bin/Options</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>Programs</servlet-name>
    <url-pattern>/bin/Programs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Bancos</servlet-name>
    <url-pattern>/bin/Bancos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OptionsByPrograms</servlet-name>
    <url-pattern>/bin/OptionsByPrograms</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OptionsByProgramsList</servlet-name>
    <url-pattern>/bin/OptionsByProgramsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FeedersList</servlet-name>
    <url-pattern>/bin/FeedersList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Monedas</servlet-name>
    <url-pattern>/bin/Monedas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Paises</servlet-name>
    <url-pattern>/bin/Paises</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>MonedasList</servlet-name>
    <url-pattern>/bin/MonedasList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Proveedores</servlet-name>
    <url-pattern>/bin/Proveedores</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RenderImage</servlet-name>
    <url-pattern>/bin/RenderImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Inventarios</servlet-name>
    <url-pattern>/bin/Inventarios</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Precios</servlet-name>
    <url-pattern>/bin/Precios</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Clientes</servlet-name>
    <url-pattern>/bin/Clientes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Alias</servlet-name>
    <url-pattern>/bin/Alias</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreciosCliente</servlet-name>
    <url-pattern>/bin/PreciosCliente</url-pattern>    
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductsFiltered</servlet-name>
    <url-pattern>/bin/ProductsFiltered</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PuntosDeVentas</servlet-name>
    <url-pattern>/bin/PuntosDeVentas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreciosPuntosDeVentas</servlet-name>
    <url-pattern>/bin/PreciosPuntosDeVentas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BodegasClientes</servlet-name>
    <url-pattern>/bin/BodegasClientes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductosPorBodega</servlet-name>
    <url-pattern>/bin/ProductosPorBodega</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TiposDeMovimientos</servlet-name>
    <url-pattern>/bin/TiposDeMovimientos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TiposDeMovimientosBanco</servlet-name>
    <url-pattern>/bin/TiposDeMovimientosBanco</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TiposRubros</servlet-name>
    <url-pattern>/bin/TiposRubros</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Presupuestos</servlet-name>
    <url-pattern>/bin/Presupuestos</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PresupuestosProyecciones</servlet-name>
    <url-pattern>/bin/PresupuestosProyecciones</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PresupuestosEjecuciones</servlet-name>
    <url-pattern>/bin/PresupuestosEjecuciones</url-pattern>
  </servlet-mapping>


  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload-path</param-name>
    <param-value>/Users/xumakgt/imagespath/</param-value>
  </context-param>
</web-app>
